[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
jsonify = "*"
flask-restful = "*"
requests = "*"
flask-limiter = "*"
gunicorn = "*"
click = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
tk = "*"
werkzeug = "*"



[requires]
python_version = "3.6"
